.score-top {

    padding-top: 16px;
    padding-bottom: 16px;

}

.separator {

    padding: 10px;

}   

.btn-primary {

    background-color: blueviolet;
    
}

#quiz-page {

    display: none;
    text-align: center;

}

#gameover-page {

    display: none;
    text-align: center;

}

#answer-box {

    list-style-type: none;
    text-align: left;

}

.correctness {

    color: grey;
    font-style: italic;
    opacity: 0.6;
    display: none;

}

.answer-button {

    padding: 10px;

}

.form-control {

    text-align: center;
    
}